.Blocks {
  grid-area: Blocks;
  height: 100%;
}

.blockHeader {
  background-color: #4c566a;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.blockBody {
  background-color: #eceff4;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
}


/* ------------------------------------------------------ */

#left, #right {
  background-color : #AAFFAA;
  
  border-radius: 3px;
}

#left {
  width: 49%;
  float: left;
}

#right {
  width: 49%;
  float: right;
}

.card {
  background-color: #fff;
  margin: 7px;
  border-radius: 5px;
  
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.card:hover {
  cursor: pointer;
}

.card-header {
  padding: 5px 0 0 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

