.btn-primary, .btn {
  height: min-content;
  border-radius: 15px;
  color: #ffffff !important;
}

.Run.btn-primary {
  width: 50%;

  background-color: #6e9b34 !important;
  border: #6e9b34 !important;
}

.Reset.btn {
  width: 25%;

  background-color: #bf616a !important;
  border: #bf616a !important;
}

.Optimize.btn {
  width: 20%;

  background-color: #1d83f8 !important;
  border: #1d83f8 !important;
}