.Code-Generated {
  grid-area: Code-Generated;
  height: 100%;
  min-width: 400px;
}

.codeHeader {
  background-color: #4c566a;

  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.codeBody {
  background-color: #eceff4;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  margin-top: 0px;

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-content: center;
  
}

/* .code {
  background-color: #eceff4;
  resize: none;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  height: 100%;
  width: 100%;
} */

.code:focus {
  outline: none !important;
}

.codeSection {
  background-color: #d8dee9;
  box-shadow: -2px 2px 5px gray;
  border-radius: 15px;

  width: 90%;
  height: min-content;

  padding: 12px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}
