.code-col {
  height: 100%;
}

.codeHeader {
  background-color: #4c566a;

  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.codeBody {
  background-color: #eceff4;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
}

.code {
  background-color: #eceff4;
  resize: none;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  height: inherit;
  width: 100%;
}

.code:focus {
  outline: none !important;
}

.btn-outline-success {
  background-color: #6e9b34 !important;
  margin-top: 12px;
  border-radius: 5%;
  color: #ffffff !important;
  border: #6e9b34 !important;
}
