body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e3440;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Container {
  background-color: #2e3440;
}

/* .block-col {
  max-width: 400px;
}

.area {
  display: flex;
  flex-direction: column;

  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  padding: 0px;
  max-height: 100%;
} */

.interface {
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
  grid-template-rows: 1fr 1.8fr 0.2fr;
  gap: 12px 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "Game Playground Code-Generated"
    "Blocks Playground Code-Generated"
    "Blocks Playground Run";

  margin: 12px;
  height: 95vh;
  width: auto;
}

.Game {
  grid-area: Game;
  height: 100%;
}

.Blocks {
  grid-area: Blocks;
  height: 100%;
}

.Playground {
  grid-area: Playground;
  height: 100%;
}

.Code-Generated {
  grid-area: Code-Generated;
  height: 100%;
}

.Run {
  grid-area: Run;
  height: 100%;
}
