.Playground {
  grid-area: Playground;
  height: 100%;
  min-width: 400px;
}

.playgroundHeader {
  background-color: #4c566a;
  text-align: center;
  vertical-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  user-select: none;
}

.playgroundBody {
  background-color: #eceff4;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  margin-top: 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;

  overflow: auto;
}
