.Reset.btn {
  grid-area: Run;
  height: 100%;
  align-self: stretch;

  width: 20%;

  background-color: #bf616a !important;
  border-radius: 15px;
  color: #ffffff !important;
  border: #bf616a !important;
}
